#banner{
    margin-top:70px;border-bottom:none
}

#footer {
    text-align: center;
    margin-top: 60px;

}

.anchor {
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
}
