#banner{
    margin-top:70px;border-bottom:none
}

#footer {
    text-align: center;
    margin-top: 60px;

}

.anchor {
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
    position: relative;
    padding-top: 15px;
    border-top: 52px solid transparent;
    margin-top: -50px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.anchor:before  {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    border-top: 1px transparent;
}

.jumbotron > p {
    font-size: 15px;

}


#canvas {
    background: #ABABAB;
    margin: 0; 
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0;
}