<!-- this would be included -->

<html>
  <head>
    <title>Grid View</title>
  </head>

  <body>
    <h1>Grid view</h1>

    {% if world == False %}
      <form method="POST" action="/grid/new">
          <input type="submit" value="Start World" id="start_world"/>
          {% csrf_token %}
      </form>



    {% elif world != False %}
    
        testtest
        <div id="world_grid">
            {{ world }}
            {{ world.coords }}
            {{ world.world_coords|safe }}
        </div>

    {% endif %}



  </body>
</html>
