<!-- this would be included -->

<html>
  <head>
    <title>Grid View</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/grid.css" rel="stylesheet">



<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>



<!-- cartesian plane -->
 <link rel="stylesheet" type="text/css" href="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraph.css" />
<script type="text/JavaScript" src="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraphcore.js"></script>
<!-- end cartesian plane -->


  </head>

  <body>
    <h1>Grid view</h1>

    {% if world == False %}
      <form method="POST" action="/grid/new">
          <input type="submit" value="Start World" id="start_world"/>
          {% csrf_token %}
      </form>


      <div id='grid_container'></div>

      <!-- <div id='grid_container2'></div> -->

      <!-- <div id='jxgbox' class='jxgbox' style='width:400px; height:400px;'></div> -->


    {% elif world != False %}

        testtest
        <div id="world_grid"></div>







    {% endif %}



  </body>

<!-- ideas:

  Speed and simplicity of grid1 BUT this needs 2 to zoom
  Scalability of grid2
  Zoom of grid 3

-->



<!-- grid1_alt -->
<script type="text/JavaScript">

var lastClicked;
var grid = clickableGrid(2, 2, 5, function(el,row,col,i){
    console.log("You clicked on element:",el);
    console.log("You clicked on row:",row);
    console.log("You clicked on col:",col);
    console.log("You clicked on item #:",i);

    el.className += ' clicked';
    if (lastClicked) lastClicked.className='col';
    if (lastClicked == el) lastClicked = null;
    else lastClicked = el; 
});


  
function clickableGrid( rows, cols, size, callback ){
    var i=0;
    var grid = document.createElement('div');
    grid.className = 'grid';
    for (var r=0;r<rows;++r){
        var div_tr = grid.appendChild(document.createElement('div'));
        div_tr.className="row";
        for (var c=0;c<cols;++c){
            var cell = div_tr.appendChild(document.createElement('div'));
            cell.className="col";
            //cell.innerHTML = '';
            //cell.innerHTML = ++i;
            cell.addEventListener('click',(function(el,r,c,i){
                return function(){
                    callback(el,r,c,i);
                }
            })(cell,r,c,i),false);
        }

    }
    return grid;
}
  
var grid_container = document.getElementById('grid_container');
grid_container.appendChild(grid);


</script>
<!-- end grid1_alt -->







<!-- grid2 -->
<script type='text/JavaScript'>
    document.createSvg = function(tagName) {
        var svgNS = "http://www.w3.org/2000/svg";
        return this.createElementNS(svgNS, tagName);
    };
    
    var numberPerSide = 20;
    var size = 10;
    var pixelsPerSide = 400;
    
    
    
    var grid = function(numberPerSide, size, pixelsPerSide, colors) {
        var svg = document.createSvg("svg");
        svg.setAttribute("width", pixelsPerSide);
        svg.setAttribute("height", pixelsPerSide);
        svg.setAttribute("viewBox", [0, 0, numberPerSide * size, numberPerSide * size].join(" "));
        
        for(var i = 0; i < numberPerSide; i++) {
            for(var j = 0; j < numberPerSide; j++) {
              var color1 = colors[(i+j) % colors.length];
              var color2 = colors[(i+j+1) % colors.length];  
              var g = document.createSvg("g");
              g.setAttribute("transform", ["translate(", i*size, ",", j*size, ")"].join(""));
              var number = numberPerSide * i + j;
              var box = document.createSvg("rect");
              box.setAttribute("width", size);
              box.setAttribute("height", size);
              box.setAttribute("fill", color1);
              box.setAttribute("id", "b" + number); 
              g.appendChild(box);
              var text = document.createSvg("text");
              text.appendChild(document.createTextNode(i * numberPerSide + j));
              text.setAttribute("fill", color2);
              text.setAttribute("font-size", 6);
              text.setAttribute("x", 0);
              text.setAttribute("y", size/2);
              text.setAttribute("id", "t" + number);
              g.appendChild(text);
              svg.appendChild(g);
            }  
        }
        svg.addEventListener(
            "click",
            function(e){
                var id = e.target.id;
                if(id)
                    alert(id.substring(1));
            },
            false);
        return svg;
    };
    
    var container = document.getElementById("grid_container2");
    container.appendChild(grid(10, 10, 100, ["red", "white"]));

</script>
<!-- end grid2 -->





  <script type="text/JavaScript">
      $( '#world_grid' ).click( 
        function(e) {
          var coordX = ( 
            e.pageX - $( this ).offset().left - ( $( this ).width()  * 0.5 ) 
            );

          var coordY = -( 
            e.pageY - $( this ).offset().top  - ( $( this ).height() * 0.5 ) 
            );
            
          alert( coordX.toFixed(1) + ' , ' + coordY.toFixed(1) );
        });
  </script>






  <!-- http://jsxgraph.uni-bayreuth.de/wiki/index.php/Howto_include_JSXGraph_into_web_pages -->
  <script type="text/JavaScript">
  var getMouseCoords = function(e, i) {
        var cPos = board.getCoordsTopLeftCorner(e, i),
            absPos = JXG.getPosition(e, i),
            dx = absPos[0]-cPos[0],
            dy = absPos[1]-cPos[1];
 
        return new JXG.Coords(JXG.COORDS_BY_SCREEN, [dx, dy], board);
    },
    down = function(e) {
        var canCreate = true, i, coords, el;
 
        if (e[JXG.touchProperty]) {
            // index of the finger that is used to extract the coordinates
            i = 0;
        }
        coords = getMouseCoords(e, i);
 
        for (el in board.objects) {
            if(JXG.isPoint(board.objects[el]) && board.objects[el].hasPoint(coords.scrCoords[1], coords.scrCoords[2])) {
                canCreate = false;
                break;
            }
        }
 
        if (canCreate) {
            board.create('point', [coords.usrCoords[1], coords.usrCoords[2]]);
        }
    },
    board = JXG.JSXGraph.initBoard('jxgbox', {boundingbox: [-5,5,5,-5], axis: true});
 
    board.on('down', down);
    </script>
</html>
