{% extends 'base.html' %}

{% block title-extension %}- About Metamundo {% endblock %}

{% block current-page %}About{% endblock %}

{% block body %}
    <div class='row marginless about-team' id="banner">
        <div class='col-md-12'>
            <h3>About Metamundo</h3>
            <p>
                I wanted to create a project that in its principles is simple, but has the potential to deliver some unexpected, funny, and interesting results. With the "give tools, see what happens" idea, I intend to write some simple rules about 'blobs' in this game, and see what people come up with.
            </p>
            <p>
                As of the 23th of June, 2016, there are not a lot of dynamics yet. But ho and lo! More is coming up! I ensure that whatever happens, the 'live' version, does not throw any bugs, so bear with me while I add new features.
            </p>
            <h3>About Tycho van Kleef</h3>
            <p>
                Healthcare professional and an avid programmer in my spare time. Also, lorem ipsum.
            </p>

        </div>
    </div>
    <div class='row marginless about-team'>
        <div class='cover-container'>
        <!-- Tycho -->
        <div class='text-center'>
            <img class='img-circle img-responsive center-block' src='/static/imgs/tycho_crop.jpg'></img>
            <h5> Tycho van Kleef </h5>
            <p>
            <a href="https://linkedin.com/in/tychovankleef"><span class="fa fa-linkedin-square fa-lg"></span></a>
            <a href="https://github.com/tychovk"><span class="fa fa-github fa-lg"></span></a>
            </p>
        </div>
        </div>                      
</div>


{% endblock %}