{% extends 'base.html' %}

{% block title-extension %}- About Metamundo {% endblock %}

{% block current-page %}About{% endblock %}

{% block body %}
    <div class='row marginless about-team' id="banner">
        <div class='col-md-12'>
            <h3>About Metamundo</h3>
            <p>
                I wanted to create a project that in its principles is simple, but has the potential to deliver some unexpected, funny, and interesting results. With the "give tools, see what happens" idea, I intend to write some simple rules about 'blobs' in this game, and see what people come up with.
            </p>
            <p>
                As of the 23th of June, 2016, there are not a lot of dynamics yet. But ho and lo! More is coming up! I ensure that whatever happens, the 'live' version, does not throw any bugs, so bear with me while I add new features.
            </p>
            <h3>About Tycho van Kleef</h3>
            <p>
                Healthcare professional and an avid programmer.

                Currently I am expanding my programming knowledge in e.g. Python, Django, JS, CSS3, PostgreSQL, in a Test-Driven Development (TDD) work-flow, as well as healthcare consulting.

                Recent accomplishments I'm proud of: advancing more and more in back-end &#38; front-end programming; having become an advanced Spanish speaker; as a teacher, exciting not just individuals but also groups for a variety of subjects... and finding creative business solutions in a variety of settings and cultures.

                I am a critical analyst whether I intend to, or not. 

                In a professional sense, I am enthusiastic for familiar and unfamiliar challenges alike, including others in my learning process and pro-actively, constructively, contributing to the team. I am focused on incentivizing rather than controlling; management serving the process; rather using the voice, than the exit. 
            </p>
        </div>


        <div class='col-md-12'>
            <h3 id="changelog" class="anchor">Changelog</h3>
                <div>
                    <h4>v1.2 <span class="pull-right">19-07-2016</span></h4>
                    
                    <p>We have a very start of our own world-walker. It's very square-y, but that's totally nouveau since Minecraft.</p>
                    
                    <p>Little tidbits:</p>

                    <ul>
                        <li>The Blobs show in the center of a coordinate field. If you think they're too small: why, don't you just wait.</li>
                        <li>walking over a Blob makes the player transparent. The first time the player found out, they almost had a heart attack. The player is now programmed to be born knowing that being transparent now and then is nothing to worry about.</li>
                    </ul>
                    <p>Next update will also contain some more information on what Blobs actually are.</p>
                </div>


                <div>
                    <h4>v1.1 <span class="pull-right">04-07-2016</span></h4>
                    
                    <p>Welcome back! I've been working on JavaScript &#38; HTML5 Canvas foolishness to see if I have a player walk around in the world, with a nice background and such. It's still very simple, but having the background images prerender before they come into view correctly, actually wasn't all that simple. Probably there's a kind of JS library for it somewhere, but where's the fun in that when we're learning the flexibility of the language.</p>
                    
                    <p>Besides that, there are a couple of new, small changes live:</p>

                    <ul>
                        <li>The state (on/off) of the blob population control now persists through new pages.</li>
                        <li>Not entering numbers for coordinates now tell you what's what. That's right.</li>
                        <li>Tiny layout changes</li>
                    </ul>
                    <p>So either way, stay tuned for the 'walking around in the blobworld' shenanigans. Also - do you still not know what blobs are? Well ...</p>
                </div>

                <div>
                    <h4>v1.0 <span class="pull-right">23-6-2016</span></h4>
                    
                    We're live! So what's new: everything you see.
                    <ul>
                        <li>Introduction page</li>
                        <li>Control panel</li>
                        <li>Navigation bar</li>
                        <li>About page</li>
                    </ul>
                    But honestly, most of it is just a shell. Will all be swell? Time will tell. 
                </div>
        </div>




    <div class='row marginless about-team'>
        <div class='cover-container'>
        <!-- Tycho -->
        <div class='text-center'>
            <img class='img-circle img-responsive center-block' src='/static/imgs/tycho_crop.jpg'></img>
            <h5> Tycho van Kleef </h5>
            <p>
            <a href="https://linkedin.com/in/tychovankleef"><span class="fa fa-linkedin-square fa-lg"></span></a>
            <a href="https://github.com/tychovk"><span class="fa fa-github fa-lg"></span></a>
            </p>
        </div>
        </div>                      
</div>


{% endblock %}