<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=devicewidth, initial-scale=1">
    <title>Metamundo {% block title-extension %}{% endblock %}</title>
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body>

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><b>Metamundo</b></a>
        <a class="navbar-brand" href="#">{% block current-page %}{% endblock %}</a>
      </div>

      <div class="collapse navbar-collapse" id="nav-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/world/1/">Control Panel</a></li>
          <li><a href="/about/">About</a></li>
        </ul>
      </div>
    </div>
  </div>


<!--
<div class="inner">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar">test</span>
            <span class="icon-bar">test</span>
            <span class="icon-bar">test</span>
          </button>
          <a class="navbar-brand" href="/">Metamundo</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/control_panel">Control Panel</a></li>
        </ul>
      </div>
    </div>
  </nav>

</div> -->



{% block body %}
{% endblock %}

</body>

{% block javascript %}
{% endblock %}
<script src="http://code.jquery.com/jquery-latest.min.js"></script> <script src="/static/bootstrap/js/bootstrap.min.js"></script> 

</html>