{% extends 'base.html' %}

{% block title-extension %}- Control Panel{% endblock %}


{% block head %}
    <link href="/static/grid.css" rel="stylesheet">

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>

    <!-- cartesian plane -->
     <link rel="stylesheet" type="text/css" href="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraph.css" />
    <script type="text/JavaScript" src="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraphcore.js"></script>
    <!-- end cartesian plane -->


    <script language="javascript">
      function override(item, hidden_button, default_value, alt_value) {
        if (alt_value === undefined) {
          alt_value = current_value;
        }
        if (default_value === undefined) {
          default_value = item.value;
        }

        if (item.classList.contains("on")) {
          item.classList.remove("on");
          item.classList.add("off");
          document.getElementById(hidden_button).value = "off";

          if (item.value == default_value) {
            item.value = alt_value;
          } else {
            item.value = default_value;
          }
        } else {
          item.classList.remove("off");
          item.classList.add("on");
          document.getElementById(hidden_button).value = "on";

          if (item.value == default_value) {
            item.value = alt_value;
          } else {
            item.value = default_value;
          }
        }
      }
    </script>

{% endblock %}


{% block current-page %}Control Panel{% endblock %}

{% block body %}
<div class="container">
  <div class="col-md-6 col-md-offset-3" id="banner">
    {% if not world %}

      No world yet... 

      <!-- <div id='grid_container2'></div> -->

      <!-- <div id='jxgbox' class='jxgbox' style='width:400px; height:400px;'></div> -->


    {% elif world %}

 
        <div class="form-inline form-group pull-left">
          <form method="POST" action="/world/{{ world.id }}/add_blob">
            <input type="text" name="entered_blob_coords"
                   class="form-control"
                   placeholder="'x y', e.g '32 13'. Default is random" 
                   id="entered_blob_coords"/>
            <input type="submit" name="spawn_blob" 
                   class="btn btn-default"
                   value="Spawn Blob" 
                   id="spawn_blob"/>
            {% csrf_token %}
          </form>
        </div>
        <div class="form-inline form-group pull-right">
          <form method="POST" action="/world/new">
            <input type="submit" 
                   class="btn btn-primary"
                   value="Start New World" 
                   id="start_world"/>
          {% csrf_token %}
        </form>
      </div>
      


        <div class="form-group">
          <form method="POST" action="/world/{{ world.id }}/add_blob">
            <input type="submit" name="add_blob_at"
                   class="btn btn-default"
                   value="Spawn blob in selected coordinates"/>
            <input type="hidden" name="selected_blob_coords" 
                   value="" 
                   id="clickedField"/>
            <input type="button" name="override_button" 
                   class="btn on"
                   value="Blob population control on" 
                   onclick="override(this, 'override_hidden', 'Blob population control on', 'Blob population control off')"/>
            <input name="override_hidden" type="hidden" 
                   value="on" 
                   id="override_hidden"/>
            {% csrf_token %}
          </form>
        </div>





      <div class="form-group">
      <input type="submit" id="start_simulation"
             class="btn btn-success disabled"
             value="Start simulation" />
        
      <span id="status_box">{{ world.status_message }}</span>
        
        {% if blobs %}
          <p id="all_blobs">All blobs:
            {% for blob in blobs %}
              ({{ blob.x }}, {{ blob.y }}) 
            {% endfor %} 
          </span>
        {% endif %}
      </div>
    </div>
    <p>
    <div id="world_grid"></div>
    <div class="grid-container" style="clear:both;" id='grid_container'></div>

    <div id='world_with_blobs_container'></div>
</div>
  {% endif %}


{% endblock %}

{% block javascript %}
<!-- ideas:

Speed and simplicity of grid1 BUT this needs 2 to zoom
Scalability of grid2
Zoom of grid 3

-->


<!-- grid1_alt -->

<script type="text/JavaScript">




    var numRows = {{ world.x_upper_bound }} - {{ world.x_lower_bound }};
    var numCols = {{ world.y_upper_bound }} - {{ world.y_lower_bound }};

    var lastClicked;
    var world_grid = clickableGrid(numRows, numCols, function(el,row,col,i){
    console.log("You clicked on element:",el);
    console.log("You clicked on row:",row);
    console.log("You clicked on col:",col);
    console.log("You clicked on item #:",i);

    el.classList.add('clicked');
    document.getElementById('clickedField').value = el.id;
    if (lastClicked) lastClicked.classList.remove('clicked');
    if (lastClicked == el) lastClicked = null;
    else lastClicked = el; 
    });

    
    function clickableGrid( rows, cols, callback ) {
    var i=0;
    var grid = document.createElement('div');
    var gridWidth = numRows * 20;
    grid.id = "grid";
    grid.setAttribute("style", "width:" + gridWidth)

    grid.className = 'grid';
    for (var r=0;r<rows;++r){
        var row = grid.appendChild(document.createElement('div'));
        row.className="row";
        for (var c=0;c<cols;++c){
            var cell = row.appendChild(document.createElement('div'));
            cell.className="col";
            cell.id = r + " " + c;
            //cell.innerHTML = '';
            //cell.innerHTML = ++i;
            cell.addEventListener('click',(function(el,r,c,i){
                return function(){
                    callback(el,r,c,i);
                }
            }) (cell,r,c,i), false);
          }
    }
    return grid;
    }


    function showBlobs() {

        {% for blob in blobs %}
          var id = "{{ blob.x }} {{ blob.y }}";
          var blob_box = document.getElementById(id);
          var blob_class = 'blob_{{blob.stage}}';
          if (blob_box) { blob_box.classList.add(blob_class) };
        {% endfor %}
      }

/*
        for (blob in blobs) {
         // if (blob.x >= {{ world.x_lower_bound }} && blob.x <= {{ world.x_upper_bound }} && blob.y >= {{world.y_lower_bound }} && blob.y <= {{ world.y_upper_bound }}) {
              var id = String(blob.x + ' ' + blob.y);

              document.write("The id" + id);

              var blob_box = document.getElementById(id);
              var blob_class = String('blob_' + blob.stage);
              if (blob_box) {blob_box.classList.add("blob_class")};
            }
    }
*/


    var grid_container = document.getElementById('grid_container');
    grid_container.appendChild(world_grid);

    {% if blobs %}
      showBlobs();
    {% endif %}

</script>
<!-- end grid1_alt -->







<!-- grid2 -->
<script type='text/JavaScript'>
    document.createSvg = function(tagName) {
        var svgNS = "http://www.w3.org/2000/svg";
        return this.createElementNS(svgNS, tagName);
    };

    var numberPerSide = 20;
    var size = 10;
    var pixelsPerSide = 400;



    var grid = function(numberPerSide, size, pixelsPerSide, colors) {
        var svg = document.createSvg("svg");
        svg.setAttribute("width", pixelsPerSide);
        svg.setAttribute("height", pixelsPerSide);
        svg.setAttribute("viewBox", [0, 0, numberPerSide * size, numberPerSide * size].join(" "));
        
        for(var i = 0; i < numberPerSide; i++) {
            for(var j = 0; j < numberPerSide; j++) {
              var color1 = colors[(i+j) % colors.length];
              var color2 = colors[(i+j+1) % colors.length];  
              var g = document.createSvg("g");
              g.setAttribute("transform", ["translate(", i*size, ",", j*size, ")"].join(""));
              var number = numberPerSide * i + j;
              var box = document.createSvg("rect");
              box.setAttribute("width", size);
              box.setAttribute("height", size);
              box.setAttribute("fill", color1);
              box.setAttribute("id", "b" + number); 
              g.appendChild(box);
              var text = document.createSvg("text");
              text.appendChild(document.createTextNode(i * numberPerSide + j));
              text.setAttribute("fill", color2);
              text.setAttribute("font-size", 6);
              text.setAttribute("x", 0);
              text.setAttribute("y", size/2);
              text.setAttribute("id", "t" + number);
              g.appendChild(text);
              svg.appendChild(g);
            }  
        }
        svg.addEventListener(
            "click",
            function(e){
                var id = e.target.id;
                if(id)
                    alert(id.substring(1));
            },
            false);
        return svg;
    };

    var container = document.getElementById("grid_container2");
    container.appendChild(grid(10, 10, 100, ["red", "white"]));

</script>
<!-- end grid2 -->




<!-- http://jsxgraph.uni-bayreuth.de/wiki/index.php/Howto_include_JSXGraph_into_web_pages -->
<script type="text/JavaScript">
    var getMouseCoords = function(e, i) {
        var cPos = board.getCoordsTopLeftCorner(e, i),
            absPos = JXG.getPosition(e, i),
            dx = absPos[0]-cPos[0],
            dy = absPos[1]-cPos[1];

        return new JXG.Coords(JXG.COORDS_BY_SCREEN, [dx, dy], board);
    },
    down = function(e) {
        var canCreate = true, i, coords, el;

        if (e[JXG.touchProperty]) {
            // index of the finger that is used to extract the coordinates
            i = 0;
        }
        coords = getMouseCoords(e, i);

        for (el in board.objects) {
            if(JXG.isPoint(board.objects[el]) && board.objects[el].hasPoint(coords.scrCoords[1], coords.scrCoords[2])) {
                canCreate = false;
                break;
            }
        }

        if (canCreate) {
            board.create('point', [coords.usrCoords[1], coords.usrCoords[2]]);
        }
    },
    board = JXG.JSXGraph.initBoard('jxgbox', {boundingbox: [-5,5,5,-5], axis: true});

    board.on('down', down);
</script>

{% endblock %}
