{% extends 'base.html' %}

{% block title-extension %}- Control Panel{% endblock %}


{% block head %}
<link href="stylesheet.css" rel="stylesheet">
<script type="text/javascript" src="/static/world_walker.js"></script> 
{% endblock %}


{% block current-page %}
    World - 
    {% if world.name %}
      {{ world.name }}
    {% else %}
      {{ world.id }}
    {% endif %}
{% endblock %}



{% block body %}
<div class="container">
    <div class="col-md-8 col-md-offset-2" id="banner">
      <div class='jumbotron'>

          <div class="btn-group">
            <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              Switch world
              <span class="caret"></span> <!-- what does this do? -->
            </a>
          <ul class="dropdown-menu">
            {% for world in worlds %}
              <li><a href="/control_panel/{{ world.id }}/">
                {% if world.name %}
                  {{ world.name }}
                {% else %}
                  {{ world.id }}
                {% endif %}
              </a></li>
            {% endfor %}
          </ul>
        </div>

    <div class="form-inline form-group pull-right">
    <form method="POST" action="/control_panel/new">
      <input type="submit" 
             class="btn btn-primary"
             value="Start new world" 
             id="start_world"/>
      {% csrf_token %}
    </form>
    </div>
    {% if not world %}

      No world yet... 

    </div>
    </div>

    {% elif world %}

    </div>
    </div>
        <canvas id="canvas"></canvas>
    {% endif %}
    </div>
{% endblock %}



{% block javascript %}
<script type="text/javascript">
    init_canvas( {{ world|safe }}, {{  blobs|safe }});
</script>
{% endblock %}

